@media screen and (max-width: 375px){
  main{
    height: 930px;
  }
  #leftimg{
    top: 0;
    left: 0;
    height: 500px;
    transform: translateX(-61%);
  }
  #rightimg{
    bottom: 0;
    right: 0;
    height: 350px;
    transform: translateX(61%);
  }
  #prueba{
    display: flex;
    flex-direction: column;
  }
  #cell{
    left: 65px;
    top: 70px;
  }
  section{
    width: 75%;
    height: 250px;
    margin: 280px 12.5%;
    text-align: center;
  }
  section p{
    margin-top: 10px;
  }
}